

/*

"Simple"

a contributed style for the ePub Zen Garden (epubzengarden.com)
created by Paolo Pellegri (pellegri@litheiron.it)

Released under a Creative Commons Attribution license: see
http://creativecommons.org/licenses/by/3.0/

This is a simple and "economic" style that also tries to ease eyestrain when reading
on traditional computer monitors (as opposed to higher-resolution ebook readers).

*/


/*

"Simple" uses the excellent "Fontin" type
by Jos Buivenga (exljbris) -> www.exljbris.com

*/
/* @font-face { */
/*   font-family: 'Fontin-ezg'; */
/*   src: url('/static/fonts/fontin-regular-webfont.eot');   IE9 Compat Modes */
/*   src: url('/static/fonts/fontin-regular-webfont.eot?iefix') format('eot'),   IE6-IE8 */
/*        url('/static/fonts/fontin-regular-webfont.woff') format('woff'),   Modern Browsers */
/*        url('/static/fonts/fontin-regular-webfont.ttf')  format('truetype'),   Safari, Android, iOS */
/*        url('/static/fonts/fontin-regular-webfont.svg#webfontWyhQCDoJ') format('svg');   Legacy iOS */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */
/* @font-face { */
/*   font-family: 'Fontin-ezg'; */
/*   src: url('/static/fonts/fontin-italic-webfont.eot');   IE9 Compat Modes */
/*   src: url('/static/fonts/fontin-italic-webfont.eot?iefix') format('eot'),   IE6-IE8 */
/*        url('/static/fonts/fontin-italic-webfont.woff') format('woff'),   Modern Browsers */
/*        url('/static/fonts/fontin-italic-webfont.ttf')  format('truetype'),   Safari, Android, iOS */
/*        url('/static/fonts/fontin-italic-webfont.svg#webfontuphk7wre') format('svg');   Legacy iOS */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */


/* Reset */
#content-title,
#content h1,
#content h2,
#content h3,
#content blockquote,
#content p
#content span {
  margin: 0;
  padding: 0;
}


/* General */
#content-title,
#content {
  font-family: "Fontin-Regular","Georgia", serif;
/*   font-size: 100%; */
  font-size: 1em;
  line-height: 1.375em;
  color: #252c35;
}

#content .content-head {
  padding-bottom: 0.5em;
  border-bottom: 1px solid  #252c35;
}


/* Running head above content */
#content-title {
  font-size: 0.75em;
  line-height: 1.8333em;
  font-weight: normal;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
}
#content-title .title,
#content-title .author {
  font-size: 1.3333em;
  line-height: 1em;
  text-transform: none;
}
#content-title .title {
  font-family: "Fontin-Italic","Georgia", serif;
  font-style: italic;
  padding-right: 0.0625em;
}
#content-title .author {
  padding-left: 0.0625em;
}

a.cover {
  text-decoration: none;
}


/* Book content */
#content {
  padding-left: 2em;
  padding-right: 2em;
  text-align: left;
}


/* Normal text */
#content p {
  margin-top: 1.375em;
  margin-bottom: 1.375em;
  text-indent: 0;
}


/* Headings */
#content h1,
#content h2,
#content h3 {
  font-weight: normal;
}
#content h1,
#content h2 {
  text-align: center;
}
#content h1,
#content h3 {
  color: #3e4a58;
}
#content h1 {
  font-size: 1em;
  line-height: 1.375em;
  margin: 4.125em -0.5em 0;
  padding: 0.6875em 0.5em 0.625em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}
#content h1 a.prev {
  font-size: 0.8em;
  float:left;
  text-decoration: none;
}

#content h1 a.next {
  font-size: 0.8em;
  float:right;
  text-decoration: none;
}

#content h1 a.prev:hover {
  font-size: 0.8em;
  float:left;
  text-decoration: underlined;
}

#content h1 a.next:hover {
  font-size: 0.8em;
  float:right;
  text-decoration: underlined;
}
#content h2 {
  border-bottom: solid 0.0278em #dce1e6;
  font-size: 2.25em;
  line-height: 1.2222em;
  margin: 0 -0.2222em 0;
  padding: 0.3056em 0.2222em 0.2778em;
}
#content h3 {
  border-top: solid 0.0625em #dce1e6;
  border-bottom: solid 0.0625em #dce1e6;
  font-size: 1em;
  line-height: 1.375em;
  margin: 4.75em -0.5em 4.125em;
  padding: 0.375em 0.5em 0.25em;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
}


/* Epigraphs */
#content blockquote {
  margin: 2.75em 2em 4.125em;
  font-family: "Fontin-Italic","Georgia", serif;
  font-style: italic;
}
#content blockquote + blockquote {
  margin-top: -2.75em;
}
#content blockquote p {
  margin-bottom: 0;
}
#content blockquote .speaker {
  font-style: normal;
  text-transform: uppercase;
  font-size: 0.75em;
  line-height: 0.75em;
}
#content blockquote .attribution {
  color: #3e4a58;
  display: block;
  font-size: 0.875em;
  line-height: 1.5714em;
  margin-top: 0;
  padding: 1.5714em 0 0 2.2857em;
}
#content blockquote .attribution-name {
  font-style: normal;
}


/* Letters */
#content p.letter,
#content p.closing {
  font-size: 0.875em;
  line-height: 1.5714em;
  margin: 1.5714em 2.2857em;
}
#content .para-start-phrase {
  text-transform: uppercase;
}


/* Poems */
#content .poem {
  margin: 2.75em 6em 2.75em 6em;
  font-family: "Fontin-Italic","Georgia", serif;
  font-style: italic;
}
#content .poem + .poem {
  margin: -1.375em 6em 2.75em 6em;
}

/* List */
dl.autoindex, ul.autoindex {
	list-style-type:decimal;
	margin-left: 2em;
}

dl.autoindex dd, ul.autoindex li {
	margin: 0.2em;
	margin-left: 2em;
}

dl.autoindex dd a, ul.autoindex li a{
	text-decoration: none;
	font-weight: bold;
	color: #252c35;
}

dl.autoindex{
	margin-left: 1em;
	font-size: 0.8em;
}

dl.autoindex dl.autoindex{
	font-size: 1em;
}


dl.autoindex dt {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #252c35;
	margin-left: 0em;
	padding: 0.4em;
}

dl.autoindex dd{
	margin: 0.2em;
	margin-left: 1em;
}

dl.autoindex dt.index-sub-title {
  background-color: #cccccc;
}

dl.autoindex dd .index-page-number{
	width: 9%;
	float: right;
}

dl.autoindex dd .index-page-link{
  width: 90%;
}
